.dzlyy-header {
  height: 100px;
  position: absolute;
  width: 100%; }

.dzlyy-header-top {
  position: absolute;
  height: 20px;
  width: 100%;
  background: #353373;
  z-index: -1; }

.dzlyy-header-bottom {
  position: absolute;
  top: 20px;
  height: 80px;
  width: 100%;
  z-index: 0; }

.dzlyy-header-img {
  position: absolute;
  top: -20px;
  height: 100px;
  margin-bottom: 2px; }

.dzlyy-content {
  margin-top: 100px;
  position: absolute;
  width: 100%;
  min-height: calc(100% - 50px); }

.dzlyy-body {
  margin-bottom: -50px;
  height: 100%; }

.dzlyy-app {
  border: solid 1px black;
  border-radius: 10px;
  max-width: 700px; }

.dzlyy-footer-push {
  height: 50px; }

.dzlyy-footer {
  height: 50px;
  width: 100%;
  border-top: solid 1px;
  border-radius: 25px; }

.dzlyy-progress-bar-container {
  width: 400px;
  z-index: 0;
  position: relative;
  height: 90px; }

.dzlyy-line-img {
  border-top: solid 3px grey;
  top: 40px;
  width: 100%;
  z-index: 1;
  position: absolute; }

.dzlyy-line-bubble {
  width: 15px;
  height: 15px;
  border: 2px solid grey;
  border-radius: 15px;
  position: absolute;
  top: 34px;
  z-index: 2; }

.dzlyy-bubble-active {
  background-color: green; }

.dzlyy-bubble-inactive {
  background-color: #FFFFFF; }

.dzlyy-line-text {
  top: 80px; }

.dzlyy-bubble-1 {
  left: 72.5px; }

.dzlyy-bubble-text-1 {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 60px;
  height: 40px;
  vertical-align: middle;
  font-size: 0.8em;
  text-align: center;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

.dzlyy-bubble-2 {
  left: 152.5px; }

.dzlyy-bubble-text-2 {
  position: absolute;
  left: 130px;
  top: 50px;
  width: 60px;
  height: 40px;
  vertical-align: middle;
  font-size: 0.8em;
  text-align: center;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

.dzlyy-bubble-3 {
  left: 232.5px; }

.dzlyy-bubble-text-3 {
  position: absolute;
  left: 210px;
  top: 50px;
  width: 60px;
  height: 40px;
  vertical-align: middle;
  font-size: 0.8em;
  text-align: center;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

.dzlyy-bubble-4 {
  left: 312.5px; }

.dzlyy-bubble-text-4 {
  position: absolute;
  left: 290px;
  top: 50px;
  width: 60px;
  height: 40px;
  vertical-align: middle;
  font-size: 0.8em;
  text-align: center;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

.dzlyy-mod-form {
  height: 200px;
  background-color: black; }
