<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- {% load static %} -->
    <!-- <script type="text/javascript" src="{% static "app.js" %}"></script> -->
    <script type="text/javascript" src="static/app.js"></script>
    <link href="static/site.css" rel="stylesheet">
</head>
<body>
    <div class="dzlyy-header">
        <div class="d-flex flex-row">
            <div class="d-flex justify-content-start p-2 flex-fill">
                <div>by Dzlyy</div>
            </div>
            <div class="d-flex justify-content-center p-2 flex-fill">
                <div>Auto/Kijiji</div>
            </div>
            <div class="d-flex justify-content-end p-2 flex-fill">
                <div>About</div>
            </div>
        </div>
    </div>
    <div class="dzlyy-content d-flex flex-column">
        <div class="dzlyy-body d-flex flex-column flex-fill">
            <div class="dzlyy-app p-2 flex-fill">
                <div id="dzlyy-react-app" class="d-flex flex-column mt-5">
                </div>
            </div>
            <div class="dzlyy-footer-push"></div>
        </div>
        <div class="dzlyy-footer">
            <div class="d-flex justify-content-center">Footer Place holder</div>
        </div>
    </div>
</body>
</html>
