<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- {% load static %} -->
    <!-- <script type="text/javascript" src="{% static "app.js" %}"></script> -->
    <script type="text/javascript" src="static/app.js"></script>
    <link href="static/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="">
        <div></div>
        <div>Auto/Kijiji</div>
        <div></div>
    </div>
    <div>Body</div>
    <div>Footer</div>
</body>
</html>
