.dzlyy-header {
    height : 70px;
    position : absolute;
    width : 100%;
    border-bottom: solid 1px;
}

.dzlyy-content {
    margin-top: 70px;
    position : absolute;
}

.dzlyy-body {
    height : 900px;
}
